.wrapperNav {
  margin-bottom: 10px;
}

.navBox {
  list-style-type: none;
  display: flex;
  position: fixed;
  display: flex;
  float: none;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navLink {
  float: left;
  text-decoration: none;
  color: #ef651b;
  font-weight: 700;
  padding: 10px 30px;
  font-size: 17px;
}

.navLink:hover {
  background-color: #343130;
  border-radius: 3px;
}
