:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f1f0f0;
}

h2 {
  text-shadow: 2px 2px #eacd10;
  position: relative;
  font-size: 28px;
  overflow: hidden;
  text-align: center;
}
h2:before,
h2:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 48%;
  height: 1px;
  content: "\a0";
  background-color: #000000;
  margin-left: 2%;
}

h2:before {
  margin-left: -50%;
}
