:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #020202;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #efefed;
}

h2 {
  text-shadow: 2px 2px #eacd10;
  position: relative;
  font-size: 28px;
  overflow: hidden;
}
h2:before,
h2:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 48%;
  height: 1px;
  content: "\a0";
  background-color: #000000;
  margin-left: 2%;
}

h2:before {
  margin-left: -50%;
}
